<ion-header>
  <ion-toolbar [style.color]="avatarColor">
    <ion-title>
      <h1 style="font-weight: bold;">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              TO DO LIST
            </ion-col>
            <ng-template [ngIf]="isUserSignedIn()">
              <ion-col>
                <ion-button fill="none" size="big" (click)="onSignOut()">
                  <span [style.color]="avatarColor" class="btn-login-register">Sign Out</span>
                </ion-button>
              </ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button routerLink="/add-todo" expand="block" fill="none" size="big" type="submit">
      <span [style.color]="avatarColor" class="btn-login-register">
        <ion-icon slot="start" name="add"></ion-icon>
        Add
      </span>
  </ion-button>

  <ion-list>
    <ion-item-sliding *ngFor="let todo of todoList; let i = index">
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <h2>{{ todo.data().title }}</h2>
                <h3>{{ todo.data().description }}</h3>
                <p>{{ todo.data().date | date:'mediumDate' }}</p>
              </ion-col>
              <ion-col>
                <ng-template [ngIf]="todo.data().status === 'Complete'">
                  <ion-icon size="large" color="success" name="checkmark"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="todo.data().status === 'Incomplete'">
                  <ion-icon size="large" color="danger" name="close"></ion-icon>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ng-template [ngIf]="todo.data().status === 'Complete'">
          <ion-item-option color="danger" (click)="onChangeStatus(i)">
           <ion-icon name="close"></ion-icon>
          </ion-item-option>
        </ng-template>
        <ng-template [ngIf]="todo.data().status === 'Incomplete'">
          <ion-item-option color="success" (click)="onChangeStatus(i)">
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
        </ng-template>
        <ion-item-option color="primary" (click)="onEdit(i)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="dark" (click)="onDelete(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onBack()" expand="block" fill="none" size="big">
      <span [style.color]="avatarColor" class="btn-login-register">
        <ion-icon size="large" slot="start" name="arrow-back"></ion-icon>
        Back
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
