<ion-header>
  <ion-toolbar [style.color]="avatarColor">
    <ion-title>Add New TO DO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onAdd()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">TO DO Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TO DO Description</ion-label>
        <ion-input formControlName="description" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TO DO Date</ion-label>
        <ion-datetime formControlName="date" min="2019" max="2021" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button expand="block" fill="none" size="big" type="submit">
      <span [style.color]="avatarColor" class="btn-login-register">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Add
      </span>
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onBack()" expand="block" fill="none" size="big">
      <span [style.color]="avatarColor" class="btn-login-register">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Back
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
