<ion-header>
    <ion-toolbar [style.color]="avatarColor">
        <ion-title>
            <h1 style="font-weight: bold;">
                TO DO APP
                <ng-template [ngIf]="isUserSignedIn()">
                    <ion-button fill="none" size="big" routerLink="/todo-list">
                        <span [style.color]="avatarColor" class="btn-login-register">TO DO, TO DO...</span>
                    </ion-button>
                    <ion-button fill="none" size="big" (click)="onSignOut()">
                        <span [style.color]="avatarColor" class="btn-login-register">Sign Out</span>
                    </ion-button>
                </ng-template>
                <ng-template [ngIf]="!isUserSignedIn()">
                    <ion-button fill="none" size="big" (click)="onSignIn()">
                        <span [style.color]="avatarColor" class="btn-login-register">Sign In</span>
                    </ion-button>
                    <ion-button fill="none" size="big" (click)="onSignUp()">
                        <span [style.color]="avatarColor" class="btn-login-register">Sign Up</span>
                    </ion-button>
                </ng-template>
            </h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <img [src]="avatarUrl" alt="avatar">
        </ion-card-content>
        <ion-card-header>
            <ion-card-title>
                <h2>Welcome to the best TO DO APP!</h2>
            </ion-card-title>
            <ion-card-subtitle>
                <h3>So much to do, so little time...</h3>
                <h3>
                    Better start today, err, <span [style.color]="avatarColor" (click)="getNewAvatar()" class="btn-login-register">NOW!</span>
                </h3>
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar [style.color]="avatarColor">
        <ion-title>
            <h4 style="font-weight: bold;">&copy; Copyright 2019 Biggy.com</h4>
        </ion-title>
    </ion-toolbar>
</ion-footer>
