<ion-header>
  <ion-toolbar appAvatarColor>
    <ion-title>
      <h1 style="font-weight: bold;">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              Edit TO DO
            </ion-col>
            <ng-template [ngIf]="isUserSignedIn()">
              <ion-col>
                <ion-button fill="none" size="big" (click)="onSignOut()">
                  <span class="btn-login-register">Sign Out</span>
                </ion-button>
              </ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onEdit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">TO DO Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TO DO Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TO DO Date</ion-label>
        <ion-datetime formControlName="date" [min]="minYear" [max]="maxYear" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">TO DO Difficulty</ion-label>
        <rating formControlName="difficulty"></rating>
      </ion-item>
    </ion-list>
    <ion-button expand="block" fill="none" size="big" type="submit">
      <span appAvatarColor class="btn-login-register">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Edit
      </span>
    </ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onBack()" expand="block" fill="none" size="big">
      <span appAvatarColor class="btn-login-register">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Back
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
